h1, h2, h3, h4, h5 {
	margin-bottom: setRem($heading-margin);
	font-family: $heading-font;
	font-weight: $font-bold;
	line-height: $heading-line-height;
	color: inherit;
}

h1 {
	font-size: setRem($h1-size);
}

h2 {
	font-size: setRem($h2-size);
}

h3 {
	font-size: setRem($h3-size);
}

h4 {
	font-size: setRem($h4-size);
}

h5 {
	font-size: setRem($h5-size);
}

h6 {
	font-size: setRem($h6-size);
}

hr {
	margin: setRem($rem-base) 0;
	border: none;
	border-top: 1px solid $hr-color;
}

.list-none {
	@include list-none;
}

.blockquote {
	margin-bottom: setRem($rem-base);
	font-size: $blockquote-size;
}

.blockquote-footer {
	display: block;
	font-size: 80%;
	color: $color-base;

	&::before {
		content: '\2014 \00A0';
	}
}