//
// Default browser rendering style using normalize.css
// normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css
//

$text-margin : 10px !default;
$sup-top : $rem-half !default;
$sub-bottom : $rem-quart !default;

* {
	box-sizing: border-box;
	&::before, &::after {
		box-sizing: border-box;
	}
}

html {
	line-height: 1.15;
  	-webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
  	-ms-overflow-style: scrollbar;
  	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// IE10+ doesn't honor `<meta name="viewport">` in some cases.
@at-root {
  @-ms-viewport {
    width: device-width;
  }
}

article, aside, dialog, details, figcaption, figure, footer, header, hgroup, main, nav, section {
	display: block;
}

body {
	margin: 0;
	background: $background-base;
	font-family: $font-sans-serif;
	font-size: setRem($font-size-base);
	line-height: $line-height-base;
	color: $color-base;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 setRem($text-margin);
}

p {
	margin: 0 0 setRem($text-margin);
}

hr {
  	box-sizing: content-box;
  	height: 0;
  	overflow: visible;
}

pre, code, kbd, samp {
  	font-family: monospace, monospace;
  	font-size: setRem($font-size-base);
}

pre {
	margin-top: 0;
	margin-bottom: setRem($rem-base);
	overflow: auto;
	-ms-overflow-style: scrollbar;
}

// 1. Remove the bottom border in Chrome 57-
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.

abbr[title] {
	cursor: help;
  	border-bottom: none;
  	text-decoration: underline;
  	text-decoration: underline dotted;
}

address {
	margin-bottom: setRem($rem-base);
  	font-style: normal;
  	line-height: inherit;
}

ol, ul, dl {
	margin: 0 0 setRem($rem-base);
}

ol ol, ul ul, ol ul, ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: $font-bold;
}

dd {
	margin-bottom: setRem($rem-half);
	margin-left: 0;
}

blockquote {
	margin: 0 0 setRem($rem-base);
}

dfn {
  	font-style: italic;
}

b, strong {
  	font-weight: bolder;
}

small {
  	font-size: 80%;
}

sub, sup {
  	font-size: 75%;
  	line-height: 0;
  	position: relative;
  	vertical-align: baseline;
}

sub {
	bottom: setRem(-$sub-bottom);
}

sup {
	top: setRem(-$sup-top);
}

a {
	background-color: transparent; // Remove the gray background on active links in IE 10.
  	-webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.
  	&:hover, &:focus {
  		text-decoration: none;
  	}
}

a:not([href]):not([tabindex]) {
  	color: inherit;
  	text-decoration: none;
  	&:hover, &:focus {
  		color: inherit;
  		text-decoration: none;
  	}

  	&:focus {
    	outline: 0;
  	}
}

figure {
	margin: 0 0 setRem($rem-base);	
}

img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	border-style: none; // Remove the border on images inside links in IE 10.
}

svg:not(:root) {
	overflow: hidden; // // Hide the overflow in IE
}

button, input, optgroup, select, textarea {
  	font-family: inherit;
  	font-size: 100%;
  	line-height: 1.15;
  	margin: 0;
}

button, input {
	overflow: visible; // Show the overflow in Edge
}

button, select {
	text-transform: none; // Remove the inheritance of text transform in Firefox
}

// Correct the inability to style clickable types in iOS and Safari.
button, [type="button"], [type="reset"], [type="submit"] {
  	-webkit-appearance: button;
}

// Remove the inner border and padding in Firefox
button::-moz-focus-inner, 
[type="button"]::-moz-focus-inner, 
[type="reset"]::-moz-focus-inner, 
[type="submit"]::-moz-focus-inner {
  	border-style: none;
  	padding: 0;
}

// Restore the focus styles unset by the previous rule.
button:-moz-focusring, 
[type="button"]:-moz-focusring, 
[type="reset"]:-moz-focusring, 
[type="submit"]:-moz-focusring {
  	outline: 1px dotted ButtonText;
}

input[type="radio"],
input[type="checkbox"] {
  	box-sizing: border-box; // 1. Add the correct box sizing in IE 10-
  	padding: 0; // 2. Remove the padding in IE 10-
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  // Remove the default appearance of temporal inputs to avoid a Mobile Safari
  // bug where setting a custom line-height prevents text from being vertically
  // centered within the input.
  // See https://bugs.webkit.org/show_bug.cgi?id=139848
  // and https://github.com/twbs/bootstrap/issues/11266
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto; // Remove the default vertical scrollbar in IE.
  resize: vertical; // Textareas should really only resize vertically so they don't break their (horizontal) containers.
}

fieldset {
  // Browsers set a default `min-width: min-content;` on fieldsets,
  // unlike e.g. `<div>`s, which have `min-width: 0;` by default.
  // So we reset that to ensure fieldsets behave more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359
  // and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
  min-width: 0;
  // Reset the default outline behavior of fieldsets so they don't affect page layout.
  padding: 0;
  margin: 0;
  border: 0;
}

// 1. Correct the text wrapping in Edge and IE.
// 2. Correct the color inheritance from `fieldset` elements in IE.
legend {
  display: block;
  width: 100%;
  max-width: 100%; // 1
  padding: 0;
  margin-bottom: setRem($rem-half);
  font-size: setRem($rem-base * .5);
  line-height: inherit;
  color: inherit; // 2
  white-space: normal; // 1
}

progress {
  vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

// Correct the cursor style of increment and decrement buttons in Chrome.
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  // This overrides the extra rounded corners on search inputs in iOS so that our
  // `.form-control` class can properly style them. Note that this cannot simply
  // be added to `.form-control` as it's not specific enough. For details, see
  // https://github.com/twbs/bootstrap/issues/11586.
  outline-offset: -2px; // 2. Correct the outline style in Safari.
  -webkit-appearance: none;
}

//
// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
//

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

//
// 1. Correct the inability to style clickable types in iOS and Safari.
// 2. Change font properties to `inherit` in Safari.
//

::-webkit-file-upload-button {
  font: inherit; // 2
  -webkit-appearance: button; // 1
}

//
// Correct element displays
//

output {
  display: inline-block;
}

summary {
  display: list-item; // Add the correct display in all browsers
  cursor: pointer;
}

template {
  display: none; // Add the correct display in IE
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
// Needed for proper display in IE 10-.
[hidden] {
  display: none !important;
}