//- Head

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
meta(name='viewport' content='width=device-width, initial-scale=1')
title #{title}
link(href='' rel='shortcut icon' type='image/x-icon')

meta(name='keywords' content='Simple, nice and user-friendly application of the weather')
meta(name='description' content='Simple, nice and user-friendly application of the weather')
meta(name='author' content='Fun WeatherApp')

meta(property='og:url' content='')
meta(property='og:title' content='')
meta(property='og:description' content='')
meta(property='og:site_name' content='')
meta(property='og:image' content='')

link(rel='stylesheet' type='text/css' href='/css/animate.min.css')
link(rel='stylesheet' type='text/css' href='/css/bootstrap.min.css')
link(rel='stylesheet' type='text/css' href='/css/applications.min.css')

link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700')