//- Script

script(src='/js/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
script(src='/js/bootstrap.min.js')
script(src='/js/applications.js')