// List
@mixin list-none {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

// Pseudo ::before and ::after
@mixin pseudo ($display: block, $absolute: absolute, $content: '') {
 	content: $content;
 	display: $display;
 	position: $absolute;
}


// Keyframes, Animations, Transitions
@mixin keyframes($animation-name) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@-ms-keyframes #{$animation-name} {
		@content;
	}
	@-o-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($animation) {
	animation: $animation;
}

@mixin transition($transition) {
	transition: $transition;
}


// Responsive Query
@mixin mobile {
	@media (max-width: #{$phone-width}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$table-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) and (max-width: #{$widescreen-width - 1px}) {
		@content;
	}
}

@mixin widescreen {
	@media (min-width: #{$widescreen-width}) {
		@content;
	}
}