// Color
$background-base : #f5f5f5 !default;

$color-base : #212121 !default;
$color-light : lighten($color-base, 10%) !default;

$hr-color : rgba($color-base, .1) !default;


// Font, text, and border
$font-sans-serif : BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", sans-serif !default;
$font-serif : "", serif !default;

$font-size-base : 14px !default;
$font-size-lg : ($font-size-base + 2) !default;
$font-size-sm : ($font-size-base - 1) !default;

$font-bold : 700 !default;
$font-semi : 500 !default;
$font-normal : 400 !default;
$font-light : 300 !default;

$line-height-base : 1.5 !default;
$line-height-lg : ($line-height-base * 1.5) !default;
$line-height-sm : ($line-height-base - .25) !default;

$heading-font : $font-serif !default;
$heading-line-height : $line-height-sm !default;
$h1-size : ($font-size-base * 2.5) !default;
$h2-size : ($font-size-base * 2) !default;
$h3-size : ($font-size-base * 1.75) !default;
$h4-size : ($font-size-base * 1.5) !default;
$h5-size : ($font-size-base * 1.25) !default;
$h6-size : $font-size-base !default;

$blockquote-size : $h5-size !default;

$rem-base : 16px !default;
$rem-half : ($rem-base / 2) !default;
$rem-quart : ($rem-base / 2) !default;

$radius-base : 5px !default;
$radius-lg : ($radius-base + 2) !default;
$radius-sm : ($radius-base - 2) !default;

// space and sizing
$heading-margin : 10px !default;


// Responsive Query
$phone-width : 480px !default;
$tablet-width : 640px !default;
$desktop-width : 992px !default;
$widescreen-width : 1200px !default;