// Application Style

@import "variables";
@import "functions";
@import "mixins";

@import "base";


body {
	background: white;
	font-size: setRem($font-size-base);

	@include mobile {
		font-size: setRem($font-size-sm);
	}
}

.navbar {
	@include transition(all ease .5s);
}